.container {
  width: 200px;
  height: 90vh;
  position: relative;
  top: 5%;
  float: left;
  margin: 0 50px;
}

#animated_div {
  width: 70px;
  height: 47px;
  background: #92B901;
  color: #fff;
  position: relative;   /* animációknál relative-nek v. absolute-nak kell lennie */
  padding: 10px;
  border-radius: 5px;
  animation: animated_div 5s infinite;
}

@keyframes animated_div {
  0% {    /* idő 0, 50, 100%-ánál hogyan viselkedjen az elem */
    left: 0px;
  }
  50% {
    left: 500px;
  }
  100% {
    left: 0px;
  }
}